table
  tr
    td
      img(src="http://www.msiforks.com.br/images/logo.png", alt="")
  tr
    td
      p #{msg}
  tr
    td
      strong
          a(download href="#{linkPDF}") Faça download do PDF.
  tr
    td
      p E-mail automatico, gerado em : #{date}
