body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}


.result-inspection,
#navigation,
.page-footer{
    background-color:#292828 !important;
}
.metadata-inspection{
    background-color: white !important;
}
.metadata-inspection p{
    color:black;
}
.header-app{
  border-bottom: 2px solid #efefef;
  margin-bottom: 0px;
}

.aproved{
    color:#33CD5F;
}
.broke{
    color:#E0B402;
}
.reproved{
    color:#ED3237;
}

.result-inspection.aproved{ background-color: #33CD5F !important; }
.result-inspection.broke{ background-color: #E0B402 !important; }
.result-inspection.reproved{ background-color: #ED3237 !important; }



.result-inspection > div > div,
.metadata-inspection > div > div{
    margin: 0 auto;
}


.result-inspection h5{
    color: white;
}

h5{
    color:#ED3237;
}
.material-icons{
    font-size: 2rem;
}
p{
        line-height: normal
}
img{
        vertical-align: middle;
    }

.pagination .active{
    background-color: #ED3237 !important;
}

.list-inline{
    margin-top: 15px;
}
.list-inline li{
    display: inline-block;
    margin-right: 10px;
}

.aling-left-on-print ul{
            padding-left: 20px;
    }


@media print { 
    
    .hide-on-print{
        display: none;
    }
    .aling-left-on-print *{
        text-align: left;
    }
    .aling-center-on-print{
        text-align: left;
        margin: 0 auto;
    }
    *{
        border:none;
    }
    
    figure{
        margin-left: auto;
    }

    h5{
        font-size: 1.3rem;
    }
    .section{
        padding-top: 0px;
        padding-bottom: 0px;
    }
   
}
