<%
	/*
		!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
			A MESMA LOGICA APLICADA AQUI FOI A UTILIZADA PARA O DESENVOLVIMENTO DO APLICATIVO
			PARA ALTERAR A LÓGICA REALIZADA AQUI, LEMBRE-SE DE ATUALIZAR A LÓGICA DO APLICATIVO
		!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

	*/

	/*
		Formatando a data da inspeção para o formato dd/MM/yyyy
	*/
	var date = new Date(data.date_inspection);
		data.date_inspection = ( date.getDate().toString().length == 1 ? '0' + date.getDate() : date.getDate() ) + ' / ' + ( (date.getMonth() + 1).toString().length == 1  ?  '0' + (date.getMonth() + 1) : (date.getMonth() + 1) ) + ' / ' +  date.getFullYear()

	if(!data.analysis_parts){
       data.analysis_parts = [];
    }

	var  final = {}
		 final.step1 = { status : step1Calcule(data.thickness_average,data.thickness) }
		 final.step2 = { status : step2Calcule(data.status_crack) }
		//  final.step3 = { status : step3Calcule(data.length_average,data.length) }
		//  final.step4 = { status : step4Calcule(data.hypotenuse_average) }
		 final.step5 = { status : step5Calcule(data.analysis_parts) }


      /*
          Converte de Polegadas para Milimetro.
      */
      function ConvertInchToMM(inch) {
        if(isNaN(inch)){ return 0 ; }
        inch = Number(inch)
        return (inch * 25.4).toFixed(2)
      }
	function ConvertMMToIn(mm) {
        if(isNaN(mm)){ return 0 ; }
        mm = Number(mm)
        return (mm / 25.4).toFixed(2)
      }


    /*
	    Status
	    1 - Normal
	    2 - Trocar
	    3 - Consertar
	*/
	function ResultAllSteps () {

		var step1 = final.step1.status;
		var step2 = final.step2.status;
		var step5 = final.step5.status;

		if ( step1 == 2 ||  step2 == 2  ||  step5 == 2 ){
		  return 2 // Trocar garfo
		}

		if ( step5 == 3 ){
		  return 3 // Consertar Garfo
		}

		return  1 // Está tudo OK com o Garfo
	}




	/*
	Função que calcula o Desgaste da lamina
	@@param1: ta // thickness_average  // Desgaste Medido
	@@param2: to //thickness_original // Desgaste Original
	*/
	function step1Calcule(ta,to) {
		return ta >= ( to - (to * 0.1)) ? 1 : 2 // Retorna o Status da etapa
	}

	/*
	Função que verifica o Estado da trinca, se ela está aprovada ou reprovada
	@@param1: sc // status_crack // Estado da Trinca
	*/
	function step2Calcule (sc) {
		return sc ? 2 : 1; // Retorna o Status da etapa
	}


	/*
	Função que calcula o Empenamento ( comprimento ) da lamina
	@@param1: la // length_average  // Comprimento Medido
	@@param2: lo // length_original // Comprimento Original
	*/
	function step3Calcule (la,lo) {
		return la < ( lo * 0.03 ) ? 1 : 3 // Retorna o Status da etapa
	}


	/*
	Função que calcula o grau da hipotenusa da abertura de Angulo
	hyp // hypotenuse // hipotenusa medida.
	*/
	function step4Calcule (hyp) {
		return hyp >= 560 && hyp <= 580 ? 1 : 3
	}

	/*
	Função que analisa de há partes quebradas na etapa 5
	parts // peças
	*/
	function step5Calcule (analysis_parts) {

		if(analysis_parts.indexOf('T') >= 0) { return 2; } // Trocar
		if(analysis_parts.indexOf('G') >= 0) { return 2; } // Trocar
		if(analysis_parts.indexOf('O') >= 0) { return 2; } // Trocar
		if(analysis_parts.indexOf('P') >= 0) { return 3; } // Concertar

		return 1
	}



%>

	<!DOCTYPE html>
	<html lang="pt-br">

	<head>
		<% include ../partials/head %>
	</head>

	<body ng-app="icaliper-server">
		<nav id="navigation" class="hide-on-print">
			<div class="nav-wrapper container">
				<div class="col s12">
					<a href="/msiforks/inspection/list" class="breadcrumb">Home</a>
					<a href="/msiforks/inspection/list" class="breadcrumb">Inspeções</a>
					<a href="#!" class="breadcrumb">Visualizar</a>
				</div>
			</div>
		</nav>
		<header class="header-app row">
			<!-- partial para o header da aplicação web -->
			<div class="col l3 s12 valign-wrapper">
				<figure class="valign-wrapper aling-center-on-print">
					<img class="valign" src="/assets/images/msi.png" alt="">
				</figure>
			</div>
			<div class="col l3 s3 valign-wrapper">
				<figure class="valign">
					<img src="/assets/images/icaliper.png" alt="">
				</figure>
			</div>
			<div class="col l6 s9 aling-left-on-print">
				<h5 class="center-align">
				
				<% if(data.language_inspection == 'pt-br') { %>
				Ficha de Inspeção Online
							
					<% } else { %> 
							Online Inspection Sheet
					<% } %>
				</h5>
				<h6 class="center-align">
					<b>
					<% if(data.language_inspection == 'pt-br') { %>
						para garfos de empilhadeiras e equipamentos industriais							
					<% } else { %> 
							for forklifts and industrial equipment
					<% } %>
					</b>
				</h6>
				<ul>
					<li>
					<% if(data.language_inspection == 'pt-br') { %>
							Largura Original:
					<% } else { %> 
							Fork Width
					<% } %>
						
						<b>
							<% if(data.unit_measure == "in") { %>
									<%= ConvertMMToIn(data.width) %> In
							<% } else { %>
								<%= data.width %> mm
							<% }  %>

							</b>
					</li>
					<li>
					<% if(data.language_inspection == 'pt-br') { %>
					Espessura Original:
							<% } else { %> 
					Fork Thickness
					<% } %>
					
						<b>

							<% if(data.unit_measure == "in") { %>
									<%= ConvertMMToIn(data.thickness) %> In
							<% } else { %>
								<%= data.thickness %> mm 
							<% }  %>

														</b>
					</li>
					<li>
					<% if(data.language_inspection == 'pt-br') { %>
					Cumprimento Original:
							<% } else { %> 
					Blade length
					<% } %>
					
						<b>
							<% if(data.unit_measure == "in") { %>
									<%= ConvertMMToIn(data.length) %> In
							<% } else { %>
								<%= data.length %> mm 
							<% }  %>
							</b>
					</li>
				</ul>
			</div>
		</header>
			<nav class="metadata-inspection">
				<div class="nav-wrapper container valign-wrapper">
					<div class="col s12 valign">
						<p class="center-align">
							<% if(data.language_inspection == 'pt-br') { %>
							Data da inspeção : 
							<% } else { %> 
							Date of Inspection :
							<% } %>
							<b>
								<%= data.date_inspection %>
							</b> - Inspetor:
							<b>
								<%= data.inspector_name %>
							</b>
								<% if(data.language_inspection == 'pt-br') { %>
								- Nº do Lote:
								<% } else { %> 
								- Fork Lot Number
								<% } %>
								<b>
									<%= data.lote %>
								</b>
								<br>
						</p>
					</div>
				</div>
			</nav>
			<nav class="result-inspection row
	<%= ResultAllSteps() == 1 ? 'aproved' : ResultAllSteps() == 2 ? 'reproved' : 'broke' %>
	">

				<div class="nav-wrapper container valign-wrapper">
					<div class="col s12 valign">
						<h5 class="center-align">
							<% if(data.language_inspection == 'pt-br') { %>

<%= ResultAllSteps() == 1 ? "Garfo Normal" : ResultAllSteps() == 2 ? "Trocar o Garfo" : "Consertar o Garfo" %>

							<% } else { %> 
							
<%= ResultAllSteps() == 1 ? "Fork approved" : ResultAllSteps() == 2 ? "Fork rejected - repair" : "Fork rejected - replace" %>

							<% } %>

						</h5>
					</div>
				</div>
			</nav>
			<main class="container">

				<div class="row">
					<div class="section">
						<h5>
						<% if(data.language_inspection == 'pt-br') { %>
								- 1º Etapa - Desgaste
								<% } else { %> 
								Step 1. Wear
						<% } %>
						



							<i class="material-icons right
							<%= final.step1.status == 1 ? 'aproved' : final.step1.status == 2 ? 'reproved' : 'broke' %>
							">
								<%= final.step1.status == 1 ? 'done' : final.step1.status == 2 ? 'close' : 'build' %>
							</i>


						</h5>
						<small>
						<% if(data.language_inspection == 'pt-br') { %>
								Tolerancia até 10% menor que a espessura original
								<% } else { %> 
								Wear can not exceed 10% of original thickness
						<% } %>
						</small>
						<p>
							<b>
								
								<% if(data.unit_measure == "in") { %>
										<%= ConvertMMToIn(data.thickness_average) %> In
								<% } else { %>
									<%= data.thickness_average %> mm 
								<% }  %>
								(
									<%= (((data.thickness - data.thickness_average) / data.thickness) * 100).toFixed(2) %> % )</b>
						</p>
					</div>
					<div class="divider"></div>
					<div class="section">
						<h5>
						<% if(data.language_inspection == 'pt-br') { %>
								2º Etapa - Trincas na superfície
								<% } else { %> 
								Step 2. Surface cracks
						<% } %>
						

							<i class="material-icons right
							<%= final.step2.status == 1 ? 'aproved' : final.step2.status == 2 ? 'reproved' : 'broke' %>
							">
								<%= final.step2.status == 1 ? 'done' : final.step2.status == 2 ? 'close' : 'build' %>
							</i>

						</h5>
						<p>
							<%= data.step2_obs %>
						</p>
					</div>
					<div class="divider"></div>


					<div class="section">
						<!-- //Step 3. Blade deflection -->
						<h5>
						<% if(data.language_inspection == 'pt-br') { %>
								3º Etapa - Acessórios de Encaixe e Ponta
								<% } else { %> 
								Step 3. Locking & suspension devices
						<% } %>
						

							<i class="material-icons right
							<%= final.step5.status == 1 ? 'aproved' : final.step5.status == 2 ? 'reproved' : 'broke' %>
							">
								<%= final.step5.status == 1 ? 'done' : final.step5.status == 2 ? 'close' : 'build' %>
							</i>

						</h5>
						<ul>
						<% if(data.language_inspection == 'pt-br') { %>

							<li>
								<%= data.analysis_parts.indexOf('T') > -1 ? "Trava quebrada" : "" ; %>
							</li>
							<li>
								<%= data.analysis_parts.indexOf('G') > -1 ? "Garras abertas ou empenadas" : "" ; %>
							</li>
							<li>
								<%= data.analysis_parts.indexOf('O') > -1 ? "Olhal/tubo deformado ou trincado" : "" ; %>
							</li>
							<li>
								<%= data.analysis_parts.indexOf('P') > -1 ? "Ponta deformada ou fina" : "" ; %>
							</li>

								<% } else { %> 

							<li>
								<%= data.analysis_parts.indexOf('T') > -1 ? "Broken latch" : "" ; %>
							</li>
							<li>
								<%= data.analysis_parts.indexOf('G') > -1 ? "Open or warped jaws" : "" ; %>
							</li>
							<li>
								<%= data.analysis_parts.indexOf('O') > -1 ? "Threaded or deformed or cracked tube" : "" ; %>
							</li>
							<li>
								<%= data.analysis_parts.indexOf('P') > -1 ? "Deformed or thinned tip" : "" ; %>
							</li>

						<% } %>
							
						</ul>
						<p>
							<%= data.step5_obs %>
						</p>
					</div>
					<div class="divider"></div>
					<div class="section">
						<h5>
						<% if(data.language_inspection == 'pt-br') { %>
								Observações Finais
								<% } else { %> 
								Final comments
						<% } %>
						</h5>
						<p>
							<%= data.final_obs %>
						</p>
					</div>
				</div>

			</main>
			<div class="fixed-action-btn vertical hide-on-print" style="bottom: 45px; right: 24px; display:none;" id="fixed-button">
				<a class="btn-floating btn-large red">
					<i class="large material-icons">menu</i>
				</a>
				<ul>
					<li>
						<a download href="/inspection-pdf/<%= data.historic_code %>-inspection.pdf" class="btn-floating red" tooltipped data-position="left"
						 data-delay="250" data-tooltip="Faça download do PDF">
							<i class="material-icons">file_download</i>
						</a>
					</li>
					<!-- <li>
			<a
			class="btn-floating green" tooltipped data-position="left" data-delay="250" data-tooltip="Envie para um e-mail">
				<i class="material-icons">share</i>
			</a>
		  </li> -->
				</ul>
			</div>

			<% include ../partials/footer %>

				<script>
					setTimeout(function () {
						$("#fixed-button")[0].style.display = "block";
					}, 4000)
				</script>
	</body>

	</html>