
<!DOCTYPE html>
<html lang="pt-br" >
<head>
	<% include ../partials/head %>
</head>
<body ng-app="icaliper-server">
	<nav id="navigation">
		<div class="nav-wrapper container row">
		  <div class="col s10">
			<a href="#!" class="breadcrumb">Home</a>
			<a href="#!" class="breadcrumb">Inspeções</a>
		  </div>
		  <div class="col s2">
			<a href="/msiforks/logout" class="breadcrumb">Sair</a>
		  </div>
		</div>
	</nav>
	<header class="header-app row">

	</header>
	<main class="container" ng-controller="controller-list-inspection">
		<ul class="collection with-header">
			<li class="collection-header"><h4>Lista de Inspeções realizadas</h4></li>
			<li class="collection-item row">
				<div class="switch">
					Filtros:
				    <label>
				      <input type="checkbox" ng-model="showFilters" ng-click="cleanFilter(showFilters)">
				      <span class="lever"></span>
				    </label>
			  	</div>
				<div class="col s12" ng-show="showFilters">
					<ul class="list-inline">
						<li>
							Estado do equipamento:
						</li>
						<li>
							<input name="filterradio" class="filled-in" ng-click="removeFinalResultQuery()" type="radio" id="todos" ng-checked="!q.finalresult"/>
							<label for="todos">Todos</label>
						</li>
						<li>
							<input name="filterradio" class="filled-in" ng-click="( q.finalresult = 1 )" type="radio" id="test1" ng-checked="q.finalresult == 1"/>
							<label for="test1">Normal</label>
						</li>
						<li>
							<input name="filterradio" class="filled-in" ng-click="( q.finalresult = 2 )" type="radio" id="test2" ng-checked="q.finalresult == 2"/>
							<label for="test2">Trocar</label>
						</li>
						<li>
							<input name="filterradio" class="filled-in" ng-click="( q.finalresult = 3 )" type="radio" id="test3" ng-checked="q.finalresult == 3"/>
							<label for="test3">Consertar</label>
						</li>
					</ul>
				</div>
				<div class="col s12" ng-show="showFilters">
					<ul class="list-inline">
						<li>
							Linguagem:
						</li>
						<li>
							<input name="filterlanguage" class="filled-in" ng-click="removeLanguageQuery()" type="radio" id="all" ng-checked="!q.language_inspection"/>
							<label for="all">Todos</label>
						</li>
						<li>
							<input name="filterlanguage" class="filled-in" ng-click="( q.language_inspection = 'pt-br' )" type="radio" id="pt-br" ng-checked="q.language_inspection == 'pt-br'"/>
							<label for="pt-br">
							<img src="../../assets/images/languages/br.png" height="20" width="29">
							</label>
						</li>
						<li>
							<input name="filterlanguage" class="filled-in" ng-click="( q.language_inspection = 'en-us' )" type="radio" id="en-us" ng-checked="q.language_inspection == 'en-us'"/>
							<label for="en-us">
								<img src="../../assets/images/languages/us.png" height="20" width="29">
							</label>
						</li>
						<li>
							<input name="filterlanguage" class="filled-in" ng-click="( q.language_inspection = 'es-es' )" type="radio" id="es-es" ng-checked="q.language_inspection == 'es-es'"/>
							<label for="es-es">
								<img src="../../assets/images/languages/es.png" height="20" width="29">
							</label>
						</li>
					</ul>
				</div>
				<!-- <div class="col s4" ng-show="showFilters">
					<div class="input-field col s6">
			          <label for="inputCreated">Data Inícial</label>
					  <input input-date type="text" name="created" id="inputCreated" ng-model="date.initial" container="body" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" min="{{ minDate }}" max="{{ maxDate }}" today="today" clear="clear" close="close" select-years="15" on-set="onSet()" />
			        </div>
			        <div class="input-field col s6">
			          <input input-date type="text" name="created" id="inputCreated" ng-model="date.final" container="body" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" min="{{ minDate }}" max="{{ maxDate }}" today="today" clear="clear" close="close" select-years="15" on-set="onSet()" />
			          <label for="last_name">Data Final</label>
			        </div>
				</div> -->
			</li>
			<li ng-repeat="item in list | orderBy : '-date_inspection' | filter:q" class="collection-item" >
			 	<a href="/msiforks/inspection/{{item.historic_code}}">
					<div>
						<div>
							Inspetor: <b>{{item.inspector_name}}</b>
							<br>
							Inspeção feita em: <b>{{item.date_inspection | date : 'dd/MM/yyyy'}}</b>
							<br>
							<!-- Garfo Inspecionado : <b>{{item.forkname}}</b> -->
						</div>
					</div>
				</a>
			</li>
		</ul>
		<!-- <pagination
		    page="1"
		    page-size="10"
		    total="100"
		    show-prev-next="true"
		    dots="...."
		    hide-if-empty="true"
		    adjacent="2"
		    scroll-top="false"
		    pagination-action="changePage(page)" /> -->
		</main>

 <% include ../partials/footer %>

</body>
</html>
