table
  tr
    td
      img(src="http://www.msiforks.com.br/images/logo.png", alt="")
  tr
    td
      p #{msg}
  tr
    td
      strong #{password}
  tr
    td
      p E-mail automatico, gerado em : #{date}
