<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header class="header-app row">
        <div class="col s3">
                <figure>
                    <img src="/assets/images/msi.png" alt="">
                </figure>
        </div>
        <div class="col s3 offset-s6">
            <figure class="right-align">
                    <img  src="/assets/images/icaliper.png" alt="">
            </figure>
        </div>
    </header>

    <main id="login-section" class="row">
        <div class="row">
          <div class="col s12 center-align" >
            <h4>  Central de Acesso </h4>
          </div>
          <div class="col s6 offset-s3">
              <form action="" method="POST">
                  <div class="input-field">
                      <input id="username" type="text" class="validate" name="username">
                      <label for="username">Nome de usuário</label>
                  </div>
                  <div class="input-field">
                      <input id="password" type="password" class="validate" name="password">
                      <label for="password">Digite sua senha</label>
                  </div>
                  <label for="">
                      <button class="btn waves-effect waves-light" type="submit" name="action">
                        Entrar
                        <i class="material-icons right">send</i>
                      </button>
                  </label>
              </form>
          </div>
        </div>
      </div>
    </main>

   <% include ./partials/footer %>
</body>
</html>
