<!-- views/partials/footer.ejs -->
<footer class="page-footer hide-on-print">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Icaliper</h5>
        <!-- <p class="grey-text text-lighten-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p> -->
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Sitemap</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.msiforks.com.br/">Site MSIForks</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright MSI-forks
      <span class="grey-text text-lighten-4 right">
        Desenvolvido com <b>❤</b> por <a  href="mailto:desenvolvimento@uxer.com.br">Uxer</a>
      </span>

    </div>
  </div>
</footer>
