<meta charset="UTF-8">
<title>Icaliper - Admin</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/assets/lib/Materialize/dist/css/materialize.min.css">
<script src="/assets/lib/jquery/dist/jquery.min.js"></script>
<script src="/assets/lib/Materialize/dist/js/materialize.min.js"></script>
<script src="/assets/lib/angular/angular.min.js"></script>
<script src="/assets/lib/angular-materialize/src/angular-materialize.js"></script>


<link rel="stylesheet" href="/assets/style.css">
<script src="/assets/icaliper.js"></script>